.card-column {
    float: left;
    width: 50%;
    height: 290px;
    padding: 5px 5px;
}

h3 {
    font-size: 20px;
    color: #6A24FE;
    margin-bottom: 10px;
}

input[type=button], input[type=submit] {
    width: auto;
    height: auto;
    border: 0;
    background-color: #E4EBF5;
    border-radius: 10px;
    box-shadow: .4rem .3rem 0.7rem #BEC5D0,
    -.2rem -.2rem .4rem #FBFBFB;

    color: #333333;
    font-size: 1em;
    font-weight: bold;
}

input[type=button]:active {
    box-shadow: inset -.3rem -.1rem 1.4rem #FBFBFB,
    inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;
}

.form {
    display: flex;
}

.submitArea {
    align-content: center;
    background-color: #b6d4fe;
    border-radius: 0 10px 10px 0;
    width: 200px;
    margin-right: 0.8em;
}

#accountInfo {
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #b6d4fe;
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: auto;
}

.submitArea > input[type=submit] {
    margin-top: 1em;
    width: 150px;
    height: auto;
    background-color: #dfc2c4;
    border: none;
}

#modifyingPassword {
    background-color: #dfc2c4;
    width: 120px;
    border: none;
}

#accountInfo > label {
    padding: 0.6em;
}
.account {
    display: flex;
    width: 100%;
    height: auto;
}
.contacts {
    width: 100%;
}
.contacts > label {
    float: left;
    width: 20%;
}
.contactsArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.basicInfo {
    background-color: #b6effb;
    border-radius: 10px 10px;
    width: 50%;
    height: 100%;
    float: left;
    margin: 0.5em;
}

.basicInfo > *, .contacts > * {
    margin: 0;
    padding: 5px;
}
.imageAndUnregister {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.imageArea, .buttonArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 0.3em;
}
.imageAndUnregister input {
    width: fit-content;
    margin: 0.2em;
}
input[name=unregisterAccount] {
    background-color: #cd101e;
}