h2 {
    font-size: 20px;
    color: #6A24FE;
    margin: 5px 5px;
}

body {
    width: 97%;
    height: auto;
}

#mainContainer {
    width: 100%;
    height: auto;
    display: flex;
}

#imageContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    height: 100%;
    padding: 0.5em;
}

#queryContainer {
    display: inline-block;
    width: 100%;
    height: auto;
    align-items: center;
}

.restaurantImage {
    float: left;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

#detailedInfo {
    background-color: #eee;
    border-radius: 20px;
    height: auto;
    padding: 0.5em;
}

.info {
    text-align: center;
    padding: 10px 10px;
    height: auto;
}

.description {
    display: flex;
    width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding-bottom: 10px;
}
.description > table {
    background-color: #dfc2c4;
    float: left;
    margin: 10px;
    padding: 0.5em;
}

.description td {
    padding: 3px 5px;
}

#queryContainer > form {
    width: 100%;
    float: left;
    display: inline-block;
    align-items: center;
    align-self: center;
}

#dateSelection {
    background-color: #b6d4fe;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 10px;
    padding: 0.5em;
}

#today {
    padding: 10px;
}

#dateSelection > label {
    padding: 10px;
}

#submitButtons {
    text-align: center;
    align-content: center;
    float: right;
    width: auto;
    justify-content: space-between;
    height: auto;
}

#submitButtons > input[type="submit"] {
    color: #fff;
    height: 48px;
    font-size: 16px;
    background-color: #6A24FE;
    margin: 10px 10px;
}